.*
src
node_modules
.vscode
.mypy_cache
docs
test
example/test-automated.html
default.nix
CODE_OF_CONDUCT.md
CONTRIBUTING.md
readthedocs.yml
tsconfig.json
tslint.json
.eslintrc.json
webpack.config.js
webpack-dev.config.js
