[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
doc = "make html"
refs = "python -msphinx.ext.intersphinx _build/html/objects.inv"

[dev-packages]

[packages]
recommonmark = "==0.6.0"
sphinx-rtd-theme = "==0.4.3"
sphinx-js = "==2.8.0"
Sphinx = "==2.2.1"
